:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;

  --col-bg: white;
  --col-primary: #555;

  --game-cell-size: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--col-primary)
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.header-text {
  font-size: 2rem;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  margin: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: clamp(8rem, 15%, 16rem);
}

.game-board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  border: 1px solid var(--col-primary);
}

.game-board-cell {
  width: var(--game-cell-size);
  height: var(--game-cell-size);
  background-color: var(--col-bg);
  border: 1px solid var(--col-primary);
}

/* ship not hit */
.game-board-cell.ship {
  background-color: aqua;
}

.game-board-cell.computer {
  background-color: white;
}

/* ship miss */
.game-board-cell.hit {
  background-color: grey;
}

/* ship hit */
.game-board-cell.ship.hit {
  background-color: red;
}

.x-axis-marker, .y-axis-marker {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.x-axis-marker {
  position: relative;
  transform: translateY(-100%);
}

.y-axis-marker {
  position: relative;
  transform: translateX(-100%);
}

.y-axis-marker.origin {
  transform: translate(-100%, -100%);
}

.ship-draggable {
  margin: 1rem;

  width: var(--game-cell-size);
  height: var(--game-cell-size);
  background-color: #0000ff50;
  border: 2px solid blue;
}

.ship-select {
  align-self: flex-start;
  margin-left: 4rem;
}

.ship-select-container {
  display: flex;
}

.ship-draggable[data-length="2"] {
  width: calc(var(--game-cell-size) * 2);
}

.ship-draggable[data-length="3"] {
  width: calc(var(--game-cell-size) * 3);
}

.ship-draggable[data-length="4"] {
  width: calc(var(--game-cell-size) * 4);
}