/* 
TODO: Make ships and hits look better
*/

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;

  --col-bg: #f7f7f7;
  --col-button: #ccc;
  --col-button-hover: #bbb;
  --col-primary: #222;
  --col-ship: #8aa3e7;
  --col-ship-valid: #98cf98;
  --col-ship-invalid: #d87575;
  --col-ship-sunk: #dc7171;
  --hit-image-url: url("../images/hit_light.svg");

  --game-cell-size: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-bg: #111;
    --col-button: #444;
    --col-button-hover: #555;
    --col-primary: #d7d7d7;
    --col-ship: #2fb3aa;
    --col-ship-valid: #37b737;
    --col-ship-invalid: #a21d1d;
    --col-ship-sunk: #832828;
    --hit-image-url: url("../images/hit_dark.svg");
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--col-primary)
}

body {
  min-height: 100vh;

  background-color: var(--col-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
}

button {
  appearance: none;
  border: none;
}

.header-text {
  font-size: 4rem;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  margin: 4rem;

  display: grid;
  grid-template: 8fr 1fr / repeat(2, 1fr);

  row-gap: 1.5rem;
  column-gap: 6rem;
}

.game-board {
  grid-row-start: 1;

  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  border: 1px solid var(--col-primary);
}

.game-board-label {
  justify-self: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.game-board-cell {
  width: var(--game-cell-size);
  height: var(--game-cell-size);
  background-color: var(--col-bg);
  border: 1px solid var(--col-primary);
}

/* ship not hit */
.game-board-cell.ship {
  background-color: var(--col-ship);
  z-index: 1;
}

.game-board-cell.computer {
  background-color: var(--col-bg);
}

/* ship not fixed */
.game-board-cell.not-fixed {
  background-color: var(--col-ship-valid);
  z-index: 2;
}

.game-board-cell.not-fixed.invalid {
  background-color: var(--col-ship-invalid);
  z-index: 2;
}

/* ship miss */
.game-board-cell.hit {
  content: "";
  display: inline-block;
  width: var(--game-cell-size);  /* Desired width */
  height: var(--game-cell-size); /* Desired height */
  background-image: var(--hit-image-url);
  background-size: contain; /* Scales SVG to fit within the width/height */
  background-repeat: no-repeat;
}

/* ship hit */
.game-board-cell.ship.hit {
  background-color: var(--col-ship-sunk);
}

.x-axis-marker, .y-axis-marker {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.x-axis-marker {
  position: relative;
  transform: translateY(-100%);
}

.y-axis-marker {
  position: relative;
  transform: translateX(-100%);
}

.y-axis-marker.origin {
  transform: translate(-100%, -100%);
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.turn, .game-winner {
  font-size: 4rem;
  font-weight: 600;
}

.options-header {
  font-size: 2rem;
  font-weight: 600;
}

.options-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.options button {
  width: fit-content;
  font-size: 1.25rem;
  
  padding: 0.5rem;

  background-color: var(--col-button);
  border-radius: 0.5rem;
}

.options button:hover {
  background-color: var(--col-button-hover);
  border-radius: 0.5rem;
}

.setup-instructions {
  margin-top: 3rem;
  text-align: center;
}

.setup-instructions-title {
  font-size: 2rem;
  font-weight: 600;
}

.setup-instructions ul {
  margin-top: 1rem;
  font-size: 1.25rem;

  text-align: left;

  appearance: none;
  list-style: none;
}

.setup-instructions ul li {
  margin-bottom: 0.5rem;
}